/* =================== ============================================================== ===================*/
/* =================== =============== ADMIN - Management =========================== ===================*/

/* =================== Sidebar - Left */
.admin_avatar_mgmt {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid black;
}

.admin_tr_mgmt {
  font-size: 20px;
  text-align: center;
}

.admin_tr_mgmt td {
  vertical-align: middle;
  font-size: 16px;
}

.admin_td_topic {
  max-width: 200px;
  min-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis !important;
}

.admin_td_topic {
  max-width: 200px;
  min-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis !important;
}

.mngt-btn-carousel {
  margin: 0.2rem;
  transition: 0.3s ease-in-out;
  background-color: #fff;
}

.mngt-btn-carousel:hover,
.mngt-btn-carousel button:hover {
  transition: 0.3s ease-in-out;
  background-color: var(--secondary-color-hover);
  color: white;
  border-radius: 6px;
}

.mngt-btn-carousel button {
  font-size: 20px !important;
}

.mngt-profile-user a {
  text-decoration: none;
  color: #a4b53b;
}

.mngt-del-user a {
  text-decoration: none;
  color: #e22828;
}

.mngt-edit-user a {
  text-decoration: none;
  color: #d6bc2a;
}

.mngt-act-btn:hover,
.mngt-act-btn:hover a {
  color: #fff !important;
  background-color: var(--third-color);
  border-radius: 6px;
}

/* =================== =============== END ADMIN - Management ======================= ===================*/
/* =================== ============================================================== ===================*/
