/* =================== ============================================================== ===================*/
/* =================== =============== ADMIN - Management =========================== ===================*/

/* =================== Sidebar - Left */
.admin_avatar_mgmt {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid black;
}

.admin_tr_mgmt {
  font-size: 20px;
  text-align: center;
}

.admin_tr_mgmt td {
  vertical-align: middle;
  font-size: 16px;
}

.admin_td_topic {
  max-width: 200px;
  min-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis !important;
}

.admin_td_topic {
  max-width: 200px;
  min-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis !important;
}

/* =================== =============== END ADMIN - Management ======================= ===================*/
/* =================== ============================================================== ===================*/
