.post_id {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.post_header-userInfo {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
}

.post_header-userInfo:hover {
  text-decoration: none;
  color: var(--secondary-color-hover);
}

.post-comment_input {
  resize: none;
  border-radius: 12px;
  height: 0;
  width: 100%;
}

.post-comments_avatar {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 50%;
  height: min-content;
}

.post_comment {
  padding-left: 3rem;
  padding-right: 3rem;
}

.post_comment-container {
  border: 1px solid #c7c7c7;
  border-radius: 12px;
  padding: 0.5rem;
  background-color: #f9f9f9;
}

.post_body-comments {
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.post_comments-lineclapm {
  -webkit-line-clamp: 2;
}

.post-dropdown-action {
  transition: ease-in-out 0.1s;
  cursor: pointer;
  border-radius: 50%;
  font-size: 36px !important;
}

.post-dropdown-action:hover {
  transition: ease-in-out 0.1s;
  border-radius: 50%;
  color: white;
  background-color: var(--secondary-color-hover);
}

.post_dropdown-menu {
  background-color: #fff;
  border-radius: 6px;
}

.post_dropdown-menu .dropdown-item:hover {
  transition: 0.1s ease-in-out;
  border-radius: 6px;
  background-color: var(--secondary-color-hover) !important;
}

.avt_create_post {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.text_caption {
  margin-left: 12px;
  margin-right: 12px;
  text-align: start;
}
.img_post {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.input_bar {
  width: 100%;
  margin-right: 12px;
  margin-top: 8px;
}

.comments_expand {
  color: gray;
}

.post_body-caption {
  cursor: pointer;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  padding-left: 2rem;
  padding-right: 2rem;
}

.post_caption-lineclamp {
  -webkit-line-clamp: 2;
}

.create_post_body {
  background: white;
  border-radius: 18px;
  margin-bottom: 10px;
  margin-top: 3px;
}
.button_create_post {
  margin-top: 0%;
  background: dodgerblue;
  color: black;
  margin-bottom: 8px;
  margin-left: 12px;
  display: flex;
}

.modal-title {
  width: 100%;
  text-align: center;
}

.create_post-addImgBtn {
  border: 2px solid var(--secondary-color);
  border-radius: 16px;
}

.create_post-addImgBtn:hover {
  border: 2px solid var(--secondary-color);
  border-radius: 16px;
  background-color: var(--secondary-color-hover);
  cursor: pointer;
  color: white;
}

.create_post-submitBtn {
  width: 100%;
  background: var(--secondary-color);
  margin-left: 0%;
  margin-right: 0%;
}

.create_post-submitBtn:hover {
  background: var(--secondary-color-hover);
}

.create_post-updateBtn {
  width: 100%;
  background: var(--secondary-color);
  margin-left: 0%;
  margin-right: 0%;
}

.create_post-updateBtn:hover {
  background: var(--secondary-color-hover);
}

.create_announce-title {
  border: none;
}

.create_announce-submitBtn {
  width: 100%;
  background: var(--secondary-color);
  margin-left: 0%;
  margin-right: 0%;
}

.create_announce-submitBtn:hover {
  background: var(--secondary-color-hover);
}

.announces_container {
  background-color: #fff;
  border-radius: 12px;
}

.announce_body-content {
  cursor: pointer;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  padding-left: 2rem;
  padding-right: 2rem;
}

.announce_content-lineclamp {
  -webkit-line-clamp: 2;
}

.update_announce-submitBtn {
  width: 100%;
  background: var(--secondary-color);
  margin-left: 0%;
  margin-right: 0%;
}

.update_announce-submitBtn:hover {
  background: var(--secondary-color-hover);
}

.modal-style {
  outline: none;
  border: none;
  padding: 0%;
}

.create_post-input {
  border: none;
}

.create_post-input:focus {
  outline: none !important;
}

.create_post-input-img {
  border-radius: 18px;
  margin-top: 5px;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  height: 300px;
  display: flex;
  border-end-end-radius: 0px;
  border-end-start-radius: 0px;
}

.create_post-bodyImgContainer {
  border-radius: 12px;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-end-end-radius: 0px;
  border-end-start-radius: 0px;
  height: 290px;
  width: 100%;
  background: #dadada;
}

.create_post-bodyImgContainer:hover {
  background: #cecece;
  cursor: pointer;
}

.post_img-viewImg {
  cursor: pointer;
}

.add_img_btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #a1a1a1;
  border: none;
}

.modal-style {
  background: #303030;
  color: white;
  resize: none;
  justify-content: center;
  text-align: left;
  margin-top: 8px;
  height: 45px;
}

.text_area_border {
  transition: 0.1s ease-in-out;
  background: #f2f2f2;
  color: black;
  border-radius: 25px;
  margin: 8px;
  padding: 8px;
  display: flex;
}

.text_area_border:hover {
  transition: 0.1s ease-in-out;
  background: #d4d4d4;
}

.text_area_border:focus {
  transition: 0.1s ease-in-out;
  background: #fff;
}

.create_post-imgReview {
  margin-top: 3px;
  height: auto;
  display: none;
}

.btn_remove_img {
  height: 30px;
  width: 30px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  margin: 5px;
  padding: 3px;
  position: absolute;
  float: left;
}
.icon_remove {
  color: gray;
  width: 24px;
  height: 24px;
}
.comment_box {
  text-align: left;
  resize: none;
}
