.post_body{
    display: flex;
    flex-direction: column;
    
}
.post_header{
    margin-right: 12px;
    margin-left: 12px;
}
.create_post_header{
    margin-right: 12px;
}
.circle_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
}
.circle_img_create_post{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 12px;
    margin-right: 5px;
    margin-left: 3px;

}
.text_caption{
    margin-left: 12px;
    margin-right: 12px;
    text-align: start;

}
.img_post{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.like{
    margin-left: 12px;
    padding: 8px;
    cursor: pointer;
}

.comment{
    margin-right: 12px;
    padding: 8px;
    cursor: pointer;
}
.emojis__like,.emojis__love{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.emojis__like {
    z-index: 2;
  }
  
.emojis__love {
    z-index: 1;
    left: -12px;
}
.box{
    margin-bottom:0%;
}
.underline_border{
    margin-top: 2px;
    border-bottom: 2px solid black;
    margin-left: 12px;
    margin-right: 12px;
}
.circle_img_comment{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 12px;

}
.display{
    display: inline-block;
}
.input_bar{
    width: 100%;
}
.input_bar_text{

    margin-top: 5px;
    width: 100%;
    border-radius: 25px;
    border: none;
    height: 45px;
    background:  #f0f2f5;
    align-items: center;
    display: flex;
}
.post_comments{
    margin-top: 5px;
}
.head_comment{
    display: flex;
    margin-right: 12px;
}
.show_comment{
    display: flex;
}

.circle_img_friendcomment{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 12px;
    margin-right: 5px;
}

.color{
    background: #f0f2f5;
    border-radius: 10px;
}
.comment__links{
    margin-top: 0px;
    margin-left: 80px;
}

.btn2{
    background: #fffafa;
    border-radius: 18px;
    height: 28px;
    border: none;
    display: flex;
    align-items: center;
    float: right;
    width: max-content;
    
}

.post{
    background: white;
    border-radius: 18px;
    padding: 0%;
}
body{
    background: #f5f5f5;
}
.btn{
    background: white;
    color: gray;
    border: none;
}
.icon{
    padding-right:8px;
}
:root {
    --hover-shadow: #f2f2f2;
  }
  
  .underline:hover{
    text-decoration: underline;
  }
  .option:hover{
    background: var(--hover-shadow);
    border-radius: 50%;
  }
.margin{
    margin-left: 12px;
}
.option{
    font-size: 40px;
    cursor: pointer;
}

.create_post_body{
    background: white;
    border-radius: 18px;
    margin-bottom: 10px;
    margin-top: 3px;
}
.button_create_post{
    margin-top: 0%;
    background:dodgerblue;
    color: black;
    margin-bottom: 8px;
    margin-left: 12px;
    display: flex;

}
.h{
    width: 100%;
}
.input_btn{
    width: 30%;
    margin-left: 12px;
}
.modal-title{
    width: 100%;
    text-align: center;
}
.save_post{
    width: 100%;
    background: dodgerblue;
    margin-left: 0%;
    margin-right: 0%;
}
.set_margin{
    margin-top: 10px;
}
.options_post{
    margin-top: 5px;
    height: 57px;
    border-radius: 7px;
    align-items: center;
    border: 1px solid gray;
    padding: 5px;
}
.small{
    width: 30px;
    height: 30px;
    padding: 5px;
}
.form-control{
    outline: none;
    border: none;
    padding: 0%;
}
.createpostheader{
    margin-bottom: 5px;
}
.input_img{
    border-radius:18px;
    margin-top:5px;
    border-top:1px solid gray;
    border-right:1px solid gray;
    border-left:1px solid gray;
    height: 300px;
    padding: 5px;
    display: block;
    border-end-end-radius: 0px;
    border-end-start-radius: 0px;
}
.btn_option{
    background: none;
    border: none;
}
.input_body{
    border-radius: 18px;
    border-top:1px solid gray;
    border-right:1px solid gray;
    border-left:1px solid gray;
    border-end-end-radius: 0px;
    border-end-start-radius: 0px;
    height:290px;
    width: 100%;
    background: #A9A9A9;
    text-align: center;
    object-fit: contain;
    justify-content: center;
    display: block;

}
.big{
    width: 50px;
    height: 50px;
}
.modal-header,.modal-footer{
    border: none;
}
.modal-footer{
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 16px;
    margin-right: 16px;
}
.modal-content{
    background:	#303030;
}
.modal_text{
    color: white;
}
.modal-body{
    padding-bottom: 0%;
    padding-top: 0%;
}
.black{
    background:	#303030;
}
.center{
    margin-top: 100px;
}
.add_img_btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #696969;
    border: none;
}
.form-control{
    background:#303030 ;
    color: white;
    resize: none;
    justify-content: center;
    text-align: left;
    margin-top: 8px;
    height: 45px;
}
.color{
    color: black;
}
.bg{
    background: #f2f2f2;
}
.write_post{
    border: none;
    border-radius: 25px;
    width: 100%;
    margin-top: 8px;
    height: 45px;
}
.hide{
    display: none;
}
.text_area_border{
    border-radius: 25px;
    margin-left: 3px;
    margin-bottom: 8px;
    padding: 8px;
    display: flex;
}
.review{
    margin-top: 3px;
    height: auto;
}
