.form-container{
    margin: 0 auto;
    padding: 2rem;
    width: 100%; 
    max-width:575px; 
    background-color: white
}

.user-avatar{
    position: relative;
}

.user-avatar > img{
    width: 96px;
    height: 96px;
}

.avatar-upload-button{
    position: absolute;
    right: -10px;
    bottom: -5px;
    padding: 5px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

.avatar-upload-button:hover{
    color: rgb(65, 82, 238);
}

.msg-display{
    display: none;
    margin: 0 0 1rem 0;
    padding: 12px;
    width: 100%;
    border-radius: 4px;
}

.msg-display > li{
    margin-left: 1rem;
}

.msg-display--error{
    background-color: rgb(253, 75, 69);
    color: #fff;
}

.msg-display--success{
    background-color: rgb(45, 185, 80);
    color: #fff;
}