{{> header}}
<div class="container">
    <div class="d-flex row flex-row">
        {{!-- Side bar left --}}
        <div class="col-lg-3 col-3">
            {{> sidebar_left}}
        </div>

        {{!-- Main post --}}
        <div class="col-lg-6">
            {{> create_post}}
            {{> post_middle}}
        </div>

        {{!-- Side bar right --}}
        <div class="col-lg-3">
            {{> sidebar_right}}
        </div>
    </div>
</div>