{{#if faculty}}{{> modals/create_announce-modal}}{{/if}}
{{#if admin}}{{> modals/create_announce-modal}}{{/if}}

{{!-- Hiển thị thông báo --}}
{{!-- Modal cập nhật thông báo --}}
{{> modals/update_announce-modal}}
<div class="announce_middle-container">

</div>

<script type="text/javascript">
    function onChangeTextArea() {
        //auto resize text area
        const tx = $('.comment_box');
        for (let i = 0; i < tx.length; i++) {
            tx[i].setAttribute(
                'style',
                'height:' + tx[i].scrollHeight + 'px;overflow-y:hidden;'
            );
            tx[i].addEventListener('input', OnInput, false);
        }
        function OnInput() {
            this.style.height = 'auto';
            this.style.height = this.scrollHeight + 'px';
        }
    }
</script>