<div class="create_post_body">
    <div class="head_comment">
        <div class="display">
            <img  class="circle_img_comment p-2 bd-highlight" src="image/school.jpg">
        </div>
        <div class="display input_btn">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary button_post" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Tạo bài Post
            </button>
        </div>
    </div> 
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modal_text" id="exampleModalLabel">Create Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="post_header">
            <div class="d-flex bd-highlight mb-2 ">
                    <img  class="circle_img p-2 bd-highlight " src="image/school.jpg">
                    <div class="p-2 bd-highlight set_margin">
                        <div class="modal_text">
                            Trang Sinh Viên
                        </div>
                        <div>
                            <select>
                            <option value="public">Public</option>
                            <option value="global">Global</option>
                            <option value="friend">Friend</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
          <div class=" black">
            <textarea class="form-control black" id="message-text" placeholder="Bạn muốn viết gì ?"></textarea>
          </div>
          <div class="input_img" id="input_img">
              <div class="input_body">
                      <div class="center">
                        <input type="file" <img class="big" src="image/gallery.png">>
                        <div>Thêm ảnh hoặc video</div>
                      </div>
              </div>
          </div>
          <div class="options_post">
            <div class="d-flex bd-highlight mb-3">
            <div class="me-auto p-2 bd-highlight modal_text">Thêm vô Post của bạn</div>
            <div class="p-2 bd-highlight">
                <div class="d-flex justify-content-evenly">
                    <button  id="toggle" class="btn_option"><img class="small" src="image/gallery.png"></button>
                    <img  class="small" src="image/locate.png">
                    <img  class="small" src="image/smiling.png">
                    <img  class="small" src="image/tag.png">
                    <img  class="small" src="image/flag.png">
                    <img  class="small" src="image/more.png">
                    </div>
            </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary save_post modal_text">Post</button>
      </div>
    </div>
  </div>
</div>
<script>

</script>