<div class="post_header">
   <div class="d-flex bd-highlight mb-3">
        <img  class="circle_img p-2 bd-highlight" src="image/school.jpg">
        <div class="p-2 bd-highlight set_margin">
            <div class="underline">
                Trang Sinh Viên
            </div>
            <div class="underline">
                9 Phút
            </div>
        </div>
        <div class="ms-auto p-2 bd-highlight">
            <div class="material-icons-outlined option">
                more_horiz
            </div>
        </div>
    </div>
</div>
<div class="post_body">
    <div class="text_caption">
        Facebook's Oculus Quest 2 starts shipping today! It's another big step 
        forward for VR. I've been using mine all summer and I'm looking forwardforward for VR. I've been using mine all summer and I'm looking forward 

    </div>
    <img class="img_post" src="http://media.vietq.vn/files/thanhlong/2017/10/13/xinh-hanh100.jpg">
    <div class="d-flex justify-content-between ">
        <div class="like underline">

            <img src="image/like.svg" class="emojis__like" />
            <img src="image/love.svg" class="emojis__love" />
            
            <span class="number_like">
                16k Thích
            </span>
        </div>
        <div class="comment underline">
            16K Bình Luận
        </div>
    </div>
    <div class="button_post container">
        <div class="row">
            <div type="button" class="btn btn-secondary btn_like col-6">
                <div class="d-flex justify-content-center">
                <div class="material-icons-outlined display icon">
                thumb_up
                </div>
                <div>Thích</div>
                </div>
            </div>
            <div type="button" class="btn btn-secondary btn_comment col-6">
                <div class="d-flex justify-content-center">
                <div class="material-icons-outlined  icon">
                chat_bubble_outline
                </div>
                <div>Bình Luận</div>
                </div>
            </div>
        </div>
    </div>
    <div class="underline margin">
    Xem tất cả bình luận
    </div>
</div>

<div class="post_comments">
    <div class="head_comment">
        <div class="display">
            <img  class="circle_img_comment p-2 bd-highlight" src="image/school.jpg">
        </div>
        <div class="display input_bar">
            <input type="text" placeholder="    Write a comment..." class="input_bar_text"/>
        </div>
    </div> 
    <div class="post_header">
        <div class="d-flex bd-highlight mb-1" >
            <img  class="circle_img p-2 bd-highlight" src="image/class.jpg">
            <div class="p-2 bd-highlight color">
            <div class="underline">
                Luke
            </div>
            <div>
                Cnt2 Web Cnt2 Web Cnt2 Web Cnt2 Web
                Cnt2 Web Cnt2 Web Cnt2 Web Cnt2 Web
            </div>
            <div>
                <button class="btn2">
                    <div>
                        <img src="image/like.svg" class="emojis__like" />
                        <img src="image/love.svg" class="emojis__love" />
                    </div>
                    <span class="underline">70</span>
                </button>
            </div>
        </div> 
    </div>
    <div class="comment__links">
        <small class="underline">Thích</small>
        <span>.</span>
        <small class="underline">Trả lời</small>
        <span>.</span>
        <small class="underline">20 Phút</small>
    </div>
    
</div> 
</div>


 