<div class="container sb-right d-lg-flex d-none flex-column">
    <div class="d-flex align-items-center sb-right-header justify-content-center p-1">
        <span>Thông báo quan trọng*</span>
    </div>
    <div class="list-group list-group-flush border-bottom scrollarea">
        <a href="#" class="list-group-item list-group-item-action p-3" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">Khoa Công Nghệ Thông Tin</strong>
            </div>
            <div class="col-12 mb-1 sb-right-content small">
                Bàn luận về Dự án CNTT2 - Bàn luận về Dự án CNTT2 - Bàn luận về Dự án CNTT2 - Bàn luận về Dự án CNTT2 -
                Bàn luận về Dự án CNTT2 - Bàn luận về Dự án CNTT2 - Bàn luận về Dự án CNTT2
            </div>
            <div class="col-12 mb-1 small">
                <strong>Ngày đăng thông báo:</strong> 19/11/2021
            </div>
        </a>
    </div>
</div>