{{> header}}
<div class="container-fluid">
    <div class="d-flex row flex-row">
        {{!-- Side bar left --}}
        <div class="d-none d-sm-block col-md-3 col-lg-2 d-flex justify-content-center align-items-center">
            {{> sidebar_left}}
        </div>

        {{!-- Main post --}}
        <div class="col-md-12 col-md-9 col-lg-10">
            <div class="d-lg-flex flex-column">
                <h1 class="d-flex align-items-center justify-content-center">Quản lý người dùng</h1>
                {{!-- <div class="d-flex align-items-center justify-content-center d-lg-none m-3">
                    <div class="d-flex align-items-center justify-content-center">
                        <button class="btn btn-sw--student" type="button" data-bs-target="#carouselManagement"
                            data-bs-slide="prev">
                            Học viên
                        </button>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <button class="btn btn-sw--faculty" type="button" data-bs-target="#carouselManagement"
                            data-bs-slide="next">
                            Phòng/Khoa
                        </button>
                    </div>
                </div> --}}
                <div class="btn-userType-switch align-items-center justify-content-center d-flex m-3">
                    <button class="btn btn-sw--student mngt-btn-carousel" type="button"
                        data-bs-target="#carouselManagement" data-bs-slide="prev">
                        Học viên
                    </button>
                    <button class="btn btn-sw--faculty mngt-btn-carousel" type="button"
                        data-bs-target="#carouselManagement" data-bs-slide="next">
                        Phòng/Khoa
                    </button>
                </div>
                {{!-- Carousel --}}
                <div id="carouselManagement" data-bs-wrap="false" data-bs-interval="false" class="carousel slide"
                    data-bs-ride="carousel" data-bs-touch="false">
                    <div class="carousel-inner">
                        {{!-- Student Carousel --}}
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5>Thông tin Học viên</h5>
                                </div>
                            </div>
                            <hr>
                            {{!-- Table if large screen --}}
                            <div class="d-flex table-responsive">
                                <table class="table table-hover table-student" style="overflow: hidden;">
                                    <thead>
                                        <tr class="admin_tr_mgmt">
                                            <th scope="col">Avatar</th>
                                            <th scope="col">Họ tên</th>
                                            <th scope="col">MSSV</th>
                                            <th scope="col">Lớp</th>
                                            <th scope="col">Khoa</th>
                                            <th scope="col">Tương tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            {{!-- Using card for mobile --}}
                            {{!-- <div class="d-lg-none d-flex">
                                <div class="card-group">
                                    <div class="card mb-3">
                                        <img src="/image/stu.png" class="img-fluid card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                    ago</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div> --}}
                        </div>
                        {{!-- Faculty Carousel --}}
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-between align-items-center">
                                    <div>
                                        <h5>Thông tin Phòng/Khoa</h5>
                                    </div>
                                    <div>
                                        <button type="button"
                                            class="btn btn-primary btn-create-faculty-account d-flex justify-content-center"
                                            data-bs-toggle="modal" data-bs-target="#createFacultyAccountModal">
                                            <span class="material-icons-outlined">
                                                add
                                            </span>
                                            Tạo phòng/khoa
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="table-responsive">
                                <table class="table table-faculty">
                                    <thead>
                                        <tr class="admin_tr_mgmt">
                                            <th scope="col">Avatar</th>
                                            <th scope="col">Tên đăng nhập</th>
                                            <th scope="col">Vai trò</th>
                                            <th scope="col">Phòng/Khoa</th>
                                            <th scope="col">Tương tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    {{!-- Faculty account create modal --}}
    {{> modals/facultyAccountCreateModal }}

    {{!-- Faculty account update modal --}}
    {{> modals/facultyAccountUpdateModal }}

    {{!-- <script src="/js/management.script.js"></script> --}}
</div>

{{!-- <div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr class="admin_tr_mgmt">
                    <th scope="col">Avatar</th>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Vai trò</th>
                    <th scope="col">Khoa</th>
                    <th scope="col">Chủ đề</th>
                    <th scope="col">Tương tác</th>
                </tr>
            </thead>
            <tbody>
                <tr class="admin_tr_mgmt" style="font-size: 18px;">
                    <td>
                        <div>
                            <img src="/image/tdt.png" alt="Avatar" class="admin_avatar_mgmt">
                        </div>
                    </td>
                    <td>
                        <div>Nguyễn Văn A</div>
                    </td>
                    <td>
                        <div>Phòng/Khoa</div>
                    </td>
                    <td class="admin_td_faculty">
                        <div>Faculty of Biology - Medicine</div>
                    </td>
                    <td class="admin_td_topic">
                        <div>
                            Vể CNTT2CNTT2CNTT2CNTT2CNTT2CNTT2CNTT2CNTT2CNTT2CNTT2CNTT2CNTT2CNTT2
                        </div>
                    </td>
                    <td>
                        <a class="me-3" href="#" style="cursor:pointer; color: green;">
                            <span class="material-icons-outlined" data-bs-toggle="tooltip" title="Profile">
                                account_circle
                            </span>
                        </a>
                        <a class="me-3" href="#" style="cursor:pointer; color: red">
                            <span class="material-icons-outlined" data-bs-toggle="tooltip" title="Xoá người dùng">
                                delete
                            </span>
                        </a>
                        <a class="me-3" href="#" style="cursor:pointer; color: coral">
                            <span class="material-icons-outlined" data-bs-toggle="tooltip" title="Cấp quyền chủ đề">
                                topic
                            </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> --}}
