{{> header}}
<div class="container">
    <div class="d-flex row flex-row">
        {{!-- Side bar left info --}}
        <div class="col-lg-4 col-4 d-flex justify-content-center align-items-center">
            {{> sidebar_left}}
        </div>

        {{!-- Main post --}}
        <div class="col-lg-8">
            {{!-- {{> post_middle}} --}}
        </div>
    </div>
</div>