<div class="navbar-header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="image/theta.png" width="50" height="50" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {{!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li> --}}
                    {{!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li> --}}
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn navbar-action-btn d-flex align-items-center" type="submit">
                            <span class="material-icons-outlined">
                                search
                            </span>
                        </button>
                    </form>
                </ul>

                <div class="d-flex flex-row align-items-center">
                    <div class="d-flex me-3 align-items-center navbar-custom-item">
                        <a href="#">
                            <img src='{{#each user}}{{avatar}}{{/each}}' alt="avatar" width="32" height="32"
                                class="rounded-circle me-2">
                            {{#each user}}
                            {{#if username}}
                            {{username}}
                            {{else}}
                            {{fullname}}
                            {{/if}}
                            {{/each}}
                        </a>
                    </div>

                    {{!-- Alert dropdown --}}
                    <div class="btn-group d-flex me-3 align-items-center">
                        <button type="button" class="btn navbar-action-btn" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Thông báo">
                                notifications
                            </span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-alert p-0">
                            <li>
                                <a href="#" class="dropdown-item p-3" aria-current="true">
                                    <div
                                        class="d-flex w-100 align-items-center justify-content-between dropdown-alert-content">
                                        <strong class="mb-1">Khoa Công Nghệ Thông Tin</strong>
                                    </div>
                                    <div class="col-12 mb-1 small dropdown-alert-content">
                                        Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng
                                        ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký
                                        đồ án CNTT2Đăng
                                        ký đồ án CNTT2
                                    </div>
                                    <div class="col-12 mb-1 small d-flex align-items-center dropdown-alert-content">
                                        <span class="material-icons-outlined m-1">
                                            schedule
                                        </span>
                                        Vào lúc: <strong>19:00</strong>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item p-3" aria-current="true">
                                    <div
                                        class="d-flex w-100 align-items-center justify-content-between dropdown-alert-content">
                                        <strong class="mb-1">Khoa Công Nghệ Thông Tin</strong>
                                    </div>
                                    <div class="col-12 mb-1 small dropdown-alert-content">
                                        Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng
                                        ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký
                                        đồ án CNTT2Đăng
                                        ký đồ án CNTT2
                                    </div>
                                    <div class="col-12 mb-1 small d-flex align-items-center dropdown-alert-content">
                                        <span class="material-icons-outlined m-1">
                                            schedule
                                        </span>
                                        Vào lúc: <strong>19:00</strong>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item p-3" aria-current="true">
                                    <div
                                        class="d-flex w-100 align-items-center justify-content-between dropdown-alert-content">
                                        <strong class="mb-1">Khoa Công Nghệ Thông Tin</strong>
                                    </div>
                                    <div class="col-12 mb-1 small dropdown-alert-content">
                                        Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng
                                        ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký
                                        đồ án CNTT2Đăng
                                        ký đồ án CNTT2
                                    </div>
                                    <div class="col-12 mb-1 small d-flex align-items-center dropdown-alert-content">
                                        <span class="material-icons-outlined m-1">
                                            schedule
                                        </span>
                                        Vào lúc: <strong>19:00</strong>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item p-3" aria-current="true">
                                    <div
                                        class="d-flex w-100 align-items-center justify-content-between dropdown-alert-content">
                                        <strong class="mb-1">Khoa Công Nghệ Thông Tin</strong>
                                    </div>
                                    <div class="col-12 mb-1 small dropdown-alert-content">
                                        Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng
                                        ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký
                                        đồ án CNTT2Đăng
                                        ký đồ án CNTT2
                                    </div>
                                    <div class="col-12 mb-1 small d-flex align-items-center dropdown-alert-content">
                                        <span class="material-icons-outlined m-1">
                                            schedule
                                        </span>
                                        Vào lúc: <strong>19:00</strong>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item p-3" aria-current="true">
                                    <div
                                        class="d-flex w-100 align-items-center justify-content-between dropdown-alert-content">
                                        <strong class="mb-1">Khoa Công Nghệ Thông Tin</strong>
                                    </div>
                                    <div class="col-12 mb-1 small dropdown-alert-content">
                                        Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng
                                        ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký
                                        đồ án CNTT2Đăng
                                        ký đồ án CNTT2
                                    </div>
                                    <div class="col-12 mb-1 small d-flex align-items-center dropdown-alert-content">
                                        <span class="material-icons-outlined m-1">
                                            schedule
                                        </span>
                                        Vào lúc: <strong>19:00</strong>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item p-3" aria-current="true">
                                    <div
                                        class="d-flex w-100 align-items-center justify-content-between dropdown-alert-content">
                                        <strong class="mb-1">Khoa Công Nghệ Thông Tin</strong>
                                    </div>
                                    <div class="col-12 mb-1 small dropdown-alert-content">
                                        Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng
                                        ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký
                                        đồ án CNTT2Đăng
                                        ký đồ án CNTT2
                                    </div>
                                    <div class="col-12 mb-1 small d-flex align-items-center dropdown-alert-content">
                                        <span class="material-icons-outlined m-1">
                                            schedule
                                        </span>
                                        Vào lúc: <strong>19:00</strong>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item p-3" aria-current="true">
                                    <div
                                        class="d-flex w-100 align-items-center justify-content-between dropdown-alert-content">
                                        <strong class="mb-1">Khoa Công Nghệ Thông Tin</strong>
                                    </div>
                                    <div class="col-12 mb-1 small dropdown-alert-content">
                                        Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng
                                        ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký
                                        đồ án CNTT2Đăng
                                        ký đồ án CNTT2
                                    </div>
                                    <div class="col-12 mb-1 small d-flex align-items-center dropdown-alert-content">
                                        <span class="material-icons-outlined m-1">
                                            schedule
                                        </span>
                                        Vào lúc: <strong>19:00</strong>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item p-3" aria-current="true">
                                    <div
                                        class="d-flex w-100 align-items-center justify-content-between dropdown-alert-content">
                                        <strong class="mb-1">Khoa Công Nghệ Thông Tin</strong>
                                    </div>
                                    <div class="col-12 mb-1 small dropdown-alert-content">
                                        Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng
                                        ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký
                                        đồ án CNTT2Đăng
                                        ký đồ án CNTT2
                                    </div>
                                    <div class="col-12 mb-1 small d-flex align-items-center dropdown-alert-content">
                                        <span class="material-icons-outlined m-1">
                                            schedule
                                        </span>
                                        Vào lúc: <strong>19:00</strong>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item p-3" aria-current="true">
                                    <div
                                        class="d-flex w-100 align-items-center justify-content-between dropdown-alert-content">
                                        <strong class="mb-1">Khoa Công Nghệ Thông Tin</strong>
                                    </div>
                                    <div class="col-12 mb-1 small dropdown-alert-content">
                                        Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng
                                        ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký
                                        đồ án CNTT2Đăng
                                        ký đồ án CNTT2
                                    </div>
                                    <div class="col-12 mb-1 small d-flex align-items-center dropdown-alert-content">
                                        <span class="material-icons-outlined m-1">
                                            schedule
                                        </span>
                                        Vào lúc: <strong>19:00</strong>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item p-3" aria-current="true">
                                    <div
                                        class="d-flex w-100 align-items-center justify-content-between dropdown-alert-content">
                                        <strong class="mb-1">Khoa Công Nghệ Thông Tin</strong>
                                    </div>
                                    <div class="col-12 mb-1 small dropdown-alert-content">
                                        Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng
                                        ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký đồ án CNTT2Đăng ký
                                        đồ án CNTT2Đăng
                                        ký đồ án CNTT2
                                    </div>
                                    <div class="col-12 mb-1 small d-flex align-items-center dropdown-alert-content">
                                        <span class="material-icons-outlined m-1">
                                            schedule
                                        </span>
                                        Vào lúc: <strong>19:00</strong>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    {{!-- Setting options --}}
                    <div class="btn-group d-flex me-3 align-items-center">
                        <button type="button" class="btn navbar-action-btn" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Cài đặt">
                                settings
                            </span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><button class="dropdown-item" type="button">Another action</button></li>
                            <li><button class="dropdown-item" type="button">Something else here</button></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item sign-out" href="/logout">Sign out</a></li>
                        </ul>
                    </div>
                </div>


                <div class="btn-group dropdown-menu-start dropdown text-end d-flex">
                    <a href="#" class="d-block link-light text-decoration-none" id="dropdown-alert"
                        data-bs-toggle="dropdown" aria-expanded="false">

                    </a>
                    <ul class="dropdown-menu dropdown-menu-start animate text-small" aria-labelledby="dropdown-alert">
                        <li>
                            <div class="dropdown-item list-group list-group-flush border-bottom scrollarea">
                                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight"
                                    aria-current="true">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <strong class="mb-1">List group item heading</strong>
                                        <small>Wed</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the
                                        heading
                                        and
                                        date.
                                    </div>
                                </a>

                            </div>

                        </li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item sign-out" href="/logout">Sign out</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div class="d-flex row flex-row">
        {{!-- Side bar left --}}
        <div class="col-lg-3">
            {{> sidebar_left}}
        </div>

        {{!-- Main post --}}
        <div class="col-lg-9">
            <div class="container d-lg-flex flex-column">

            </div>
        </div>
    </div>
</div>